body {
        
    top: 0;
    left: 0;
    margin:0;
    Height:100%;
}

.navbar {
    background-color: blue;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.navbar a {
    color: blue;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    text-overflow:inherit;
    text-align: center;
    font-size:20px;
    color:white;  
    
}

.navbar a:hover{
    background-color:darkblue;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    text-overflow:inherit;
    text-align: center;
    font-size:20px;
    color:white;
}

.backgroundmain {
    background-image: url(nzwater1.jpg);
    background-attachment: fixed;
    height:100%;
    width: 100%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
   
    


.title {
    position: absolute;
    top: 100px;
    left: 16px;
    color:black;
    font-size: 50px;
    background-color: white;
    opacity: 70%;
    padding:5px;
    z-index: 1;
}

.main {
    position: absolute;
    top: 500px;
    color:black; 
    left:20%;
    right:20%;
    background-color: white;
    opacity: 70%;
    padding:5px;
    z-index: 1;
}      


.left {
    float:left;
}

.right {
    float:left;
    background-image: url(nzwater2.jpg);
}


.backgroundTA {
    background-image: url(NzWaterTA2.jpg);
    background-attachment: fixed;
    height:100%;
    width: 100%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}





 